{% extends 'layout.html' %}

{% block head %}
<script src='/socket.io/socket.io.js'></script>
{% endblock %}

{% block body %}
<div id='container'>
  <div id='name-container'>
    <form id='name-form'>
      <input id='name-input'
             placeholder='Enter name here' />
      <button id='name-submit'
              type='submit'>
        Join lobby
      </button>
    </form>
  </div>
  <div id='lobby'>
    <table>
      <tr>
        <td>
          <ul id='lobby-rooms'>
          </ul>
        </td>
        <td>
          <div id='lobby-chat'>
          </div>
        </td>
        <td>
          <ul id='lobby-users'>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id='canvas'>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/client.js'> </script>
{% endblock %}
